.page-menu, .page-about {
  background-image: url(./assets/graphics/graphics-header.svg), url(./assets/graphics/graphics-footer.svg);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: contain;
  background-color: #F3E4E1;
  min-height: 100vh;
}

.product-container{
  display: flex;
  justify-content: center;
}

.meny-title{
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #2F2926;
}

.product-info{
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  align-items: center;
  color: #2F2926;
}

.product-desc{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #2F2926;
}

.add-product-btn{
  background-image: url(./assets/graphics/add.svg);
  background-color: black;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.cart-wrapper{
background-color: white;

}

footer {
  height: 100px;
}
